@import url(http://fonts.googleapis.com/css?family=Tangerine);

.container h1 {
font: normal 32px/36px Cinzel Decorative,cursive;
color: #fdfdfd;
margin-bottom: 0px;
}
.container h2 {
font: normal 25px/36px Cinzel Decorative,cursive;
color: #fdfdfd;
margin-bottom: 0px;
}
.container h3 {
font: normal 20px/36px Cinzel Decorative,cursive;
color: #fdfdfd;
margin-bottom: 0px;
}

#topnav li.current a 
{
    color:white;
}

a.amouraLogo 
{
    font-family: 'Tangerine', cursive;
    font-style:normal;
    font-weight:400;
    font-size: 72px;
    color:#AB0202;
}
a:hover.amouraLogo{
    text-decoration:none;
}
a:hover.amouraLogo {
    color:white;
}

.hero-unit h1 a {
    color:#a4a4a4;
}
.hero-unit h1 a:hover {
    color:white;
}


/*generic form styles*/

.amouraForm label.error 
{ 
    color:red; 
    padding-left:5px; 
    float:right; 
}
.amouraForm input.error, .amouraForm textarea.error 
{ 
    border-color: red; 
    background-color: #ffe6e6; 
}
.success { color:green; }
.failure { color:red; }
.amouraForm .row
{
    clear:both;
}
.amouraForm .col1
{
    width:10px;
    float:left;
}
.amouraForm .col2
{
    float:left;
    padding:3px;
    width:130px;
}
.amouraForm .col3
{
    float:left;
}
.amouraForm label {font-weight: 200; font-size: 15px; float:left;}
.amouraForm input[type=text], .amouraForm input[type=password], .amouraForm input[type=email] 
{
    border:1px solid #ccc; 
    border-radius: 5px; 
    margin-bottom:3px; 
    padding:5px; 
    width:200px; 
    height:20px; 
    overflow-y:hidden;
    background: #141414;
    color: #6b6b6b;
}
.amouraForm textarea {border:1px solid #ccc; border-radius: 5px; margin-bottom:3px; padding:5px; overflow-y:hidden;}
.amouraForm select { margin-bottom: 3px; }
.amouraForm input:focus, .amouraForm textarea:focus {border:1px solid red;}
.amouraForm .checkboxLabel
{
    margin-right: 5px;
    float:left;
}

.requiredField
{
    color:red;
}
form.amouraForm {
    margin: 30px 0px 20px 30px;
}

.amouraForm a.button:hover {
background: #05abc4;
color: #fff;
border-color: #000;
}
.amouraForm a.button {
background: #000107;
display: inline-block;
height: 38px;
overflow: hidden;
padding: 0 23px;
line-height: 38px;
vertical-align: top;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: 1px solid #363636;
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size: 14px;
text-shadow: 1px 1px 0 rgba(140,140,140,0.23);
text-transform: uppercase;
text-decoration: none;
}


/**login form**/
.loginLeft
{
    float:left;
    padding-right:30px;
    border-right: solid 1px black;
    width:460px;
}
.loginLeft table tr td.prompt 
{
    padding-right:5px;
}
.loginRight 
{
    float:left;
    padding-left:30px;
    width:50%
}

.header .flexslider ul.slides li h5 a:hover {
text-decoration: none;
color: white;
}

.amouraForm .row {
    padding: 10px 0 10px 0;
}
.amouraForm .bioField {
    width: 200px;
    height: 100px;
}


ul.social a.signUpLink
{
    width:60px !important;
    margin-right:5px;
}

.paypalForm input[type=image] 
{
    padding-top:15px;
    margin-left:30px;
}
.paypalForm select[name="os0"] 
{
    width:400px;
}

.contourPage label.fieldLabel
{
    color:white;
}
.contourPage .contourField{
    padding-top:5px;
    padding-bottom:10px;
}
.contourPage .contourIndicator{
    color:red;
}
.contourPage .contourField span.radiobuttonlist
{
    padding-bottom:20px;
}
.contourPage input[type=text], .contourPage textarea{
    color:white;
}

.contourMessageOnSubmit{
    padding-top:20px;
    color:white;
}