@inherits UmbracoViewPage<Node>
@using umbraco.NodeFactory;
@using Iomer.Umbraco.Extensions;
@using Amoura.Web.Data;
@using Amoura.Web.Helpers;

@{
    var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);
    var content = umbracoHelper.GetById(Model.Id);
    var umbracoHelperPage = new UmbracoHelper(UmbracoContext.Current, content);
 }

<div class="section" id="section@(Model.Id)">
    <div class="container">
        <div class="row">
            <div class="col-md-12 rowContent">
                <h1>@Model.GetTitle()</h1>
                <p>
                    @umbracoHelperPage.Field("bodyText")
                </p>
            </div>
        </div>
    </div>
</div>

<style>
    div.section:before 
    {
    content:"";
    display:block;
    height:60px;
    margin:-40px 0 0;
}
</style>