@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Amoura.Web.Data
@{
    Layout = "Main.cshtml";
}

<div>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        @Umbraco.Field(DocumentFields.bodyText.ToString())
    }
    @Html.Partial("MemberLogin", new Amoura.Web.Models.AccountModel())
</div>