@using Amoura.Web.Data
@using Amoura.Web.Models

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
    var currentUser = Membership.GetUser();
    var accountModel = new AccountModel();
    if (currentUser != null){
        var membershipController = new Amoura.Web.Controllers.MembershipController();
        accountModel = membershipController.GetAccountModel(currentUser.UserName);
    }
}

<div>
    <h1>@Umbraco.Field(DocumentFields.pageTitle.ToString())</h1>
    @Umbraco.Field(DocumentFields.bodyText.ToString())
    
    @Html.Partial("Profile", accountModel)
</div>